@import url('https://fonts.googleapis.com/css?family=Lato');


//Colors:

$color-darker-blue: #2C3B59;
$color-lighter-tan: #BFA694;
$color-darker-brown: #7F4707;
$color-lighter-blue: #415E8C;
$color-orange-brown: #D97B59;
$color-white-tan: #f8f1e9;
$color-white-smoke-bg: #f9f9f7;


#portfolio {
  height: auto;
  background: $color-white-smoke-bg;
  font-family: 'Lato', sans-serif;
}

.portfolio-title {
  color: $color-orange-brown;
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
  letter-spacing: 12.5px;
}

.portfolio-hr {
  max-width: 100px;
  border-color: $color-orange-brown;
  border-top: 10px solid;
}

.portfolio-container {

  //FUNCTIONALITY 

  background: $color-darker-blue;
  margin: 50px;
  padding: 50px 0 50px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem; 
  height: 27rem;
  letter-spacing: 2.5px;
  flex: 0 1 20%;
  position: relative;

  &-side{
    height: 27rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(white, .20);

  &-front {
    background-color: $color-white-smoke-bg;
  }

  &-back {
    background-color: $color-lighter-tan;
    transform: rotateY(180deg)

  }
  }

  &:hover &-side-front {
    transform: rotateY(-180deg)
  }

  &:hover &-side-back {
    transform: rotateY(0)
  }

  ///FRONT SIDE PICTURE

  &__picture {
    background-size: contain;
    background-repeat: no-repeat;
    height: 23rem;
    
    &--1{
    background-image: url(../../../dist/images/card_personal_website_photo.png)
    }

    &--2{
      background-image: url(../../../dist/images/portfolio_amazon_logo.jpg)
    }

    &--3{
      background-image: url(../../../dist/images/portfolio_airbnb_logo.jpg)
    }
  }

  //FRONT SIDE HEADING

  &__heading {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color:$color-lighter-blue;
    position: absolute;
    top: 35.5%;

  }

  &__heading-span {
    padding: 0 0.5rem 0 0.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-image: linear-gradient(to right,
      rgba($color-white-tan, .85), 
      rgba($color-lighter-tan, .85))
  }

  //FRONT SIDE DETAILS

  &__details {
    bottom: 20rem;
    position: absolute;
    left: 50%;
    top: 55%;
    height: auto;
    text-align: center;
    transform: translate(-50%, -50%);

    
    ul {
      list-style: none;
      color:  $color-orange-brown;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem;


        &:not(:last-child) {
          border-bottom: 1px solid $color-darker-brown;
        }

      }
    }
  }

  //BACKSIDE TITLE 

  &__back-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    background-color: $color-lighter-blue;
    height: 15%;
    padding-top: 0.5rem;
  }
}