@import url("https://fonts.googleapis.com/css?family=Lato");

//Colors:

$color-darker-blue: #24305e;
$color-lighter-tan: #bfa694;
$color-darker-brown: #7f4707;
$color-lighter-blue: #374785;
$color-orange-brown: #d97b59;
$color-white-tan: #f8f1e9;
$color-white-smoke-bg: #f9f9f7;
$color-mustard-yellow: #f8e9a1;
$color-orange-red: #f76c6c;
$color-baby-blue: #a8d0e6;
$color-bg-grey: #f6f5f3;
$color-font-grey: #3d3d3f;
$color-whiteish: #f9f8fd;

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.modal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0, 0, 0, 0.85);
}

.modal .modal_content {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: auto;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  width: 520px; /* This just a default width */
}

.modal .modal_content > h2 {
  font-size: 28px;
  font-weight: 200;
  margin: 20px 0 40px;
  text-align: center;
}

.modal .modal_content .buttons_wrapper {
  padding: 20px;
}

.modal .close_modal {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
  background: none;
  border: none;
  transition: opacity 0.2s ease;
}

.modal .close_modal:hover {
  opacity: 0.9;
}

.detail-stack {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: $color-lighter-blue;
  line-height: 25px;
  margin-bottom: 40px;
  font-weight: bold;
  letter-spacing: 3.5px;

  hr {
    max-width: 75px;
    border-color: $color-lighter-blue;
    border-top: 5px solid;
  }

  i {
    font-weight: normal;
    font-size: 3.5rem;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.detail-desc {
  font-size: 1.5rem;
  text-align: left;

  li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.amaz-stack {
  font-size: 1.5rem;
  line-height: normal;
  color: $color-orange-red;
  padding-top: 10px;

  span {
    color: black;
  }
}

.blue {
  color: #00d8ff;
}

.green {
  color: #44883e;
}

.pink {
  color: #c69;
}

.orange {
  color: #ff9900;
}

.cssblue {
  color: #264de4;
}
