@import url("https://fonts.googleapis.com/css?family=Lato");

//Colors:

$color-darker-blue: #24305e;
$color-lighter-tan: #bfa694;
$color-darker-brown: #7f4707;
$color-lighter-blue: #374785;
$color-orange-brown: #d97b59;
$color-white-tan: #f8f1e9;
$color-white-smoke-bg: #f9f9f7;
$color-mustard-yellow: #f8e9a1;
$color-orange-red: #f76c6c;
$color-baby-blue: #a8d0e6;
$color-bg-grey: #f6f5f3;
$color-font-grey: #3d3d3f;
$color-whiteish: #f9f8fd;

//<----------breakpoint mixins---------->
$tablet-width: 768px;
$laptop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}
//<-------------------->

#skills {
  height: auto;
  background: url(../../../dist/images/2.png) no-repeat center center;
  background-size: cover;
  font-family: "Lato", sans-serif;

  //media queries
  @include tablet {
    background: url(../../../dist/images/2.png) no-repeat center center;
    background-size: cover;
  }

  @include laptop {
    background: url(../../../dist/images/2.png);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  font-family: "Lato", sans-serif;
}

.skills-title {
  color: $color-orange-red;
  font-size: 35px;
  font-size: 7vw;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
  letter-spacing: 12.5px;

  @include tablet {
    font-size: 45px;
    font-size: 4.5vw;
  }

  @include laptop {
    font-size: 60px;
    font-size: 4.3vw;
  }
}

.skills-hr {
  max-width: 14vw;
  border-color: $color-orange-red;
  border-top: 0.5vh solid;

  @include tablet {
    border-top: 0.5vh solid;
  }

  @include laptop {
    border-top: 0.5vh solid;
  }
}

.skills-main-container {
  background: $color-whiteish;
  margin: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.skills-main-container > .skills-container {
  height: 100px;
  flex-grow: 1;
  flex: 1 1 30%;
}
.skills-container {
  // height: 100px;
  margin: 5px;
  padding: 1.5rem;
  border-radius: 3px;
  background: $color-darker-blue;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.25);
  transition: transform 0.3s;
  justify-content: center;
  align-items: center;
  display: flex;

  i {
    font-size: 3rem;
    color: $color-orange-red;
  }

  &:hover {
    transform: translateY(-1rem) scale(1.03);
  }

  @include tablet {
    h3 {
      padding-left: 1.5rem;
      color: $color-whiteish;
      font-size: 25px;
      text-transform: uppercase;
    }
  }
}

.skills-main-container-laptop {
  // background: $color-whiteish;
  margin: 0 0 100px 0;
  padding: 25px 0 25px 0;
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: center;
  // width: 80%;
  display: grid;
  grid-template-rows: 160px 160px 160px;
  grid-template-columns: 250px 250px 250px;
  grid-column-gap: 8px;
  grid-row-gap: 13px;
  justify-content: center;
}

.skills-container-laptop {
  // height: auto;
  // margin: 20px 1em;
  // padding: 1.5rem;
  border-radius: 3px;
  background: $color-darker-blue;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.25);
  letter-spacing: 3.5px;
  flex: 0 1 20pc;
  transition: transform 0.3s;
  justify-content: center;
  display: flex;
  flex-direction: column;

  i {
    font-size: 3vw;
    color: $color-orange-red;
    margin-bottom: 1.5vw;
  }

  h3 {
    color: $color-whiteish;
    font-size: 1.3vw;
    text-transform: uppercase;
  }

  &:hover {
    transform: translateY(-0.5rem) scale(0.9);
  }
}
