@import url('https://fonts.googleapis.com/css?family=Lato:700');

//Colors:

$color-darker-blue: #2C3B59;
$color-lighter-tan: #BFA694;
$color-darker-brown: #7F4707;
$color-lighter-blue: #415E8C;
$color-orange-brown: #D97B59;
$color-white-tan: #f8f1e9;
$color-white-smoke-bg: #f9f9f7;


#navigation{
	position: fixed;
  text-transform: uppercase;
  background-color: $color-lighter-tan;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}

.main-menu {

	display: flex;
  padding: 20px;
  width: 100%;
  justify-content: flex-end;
	opacity: 1;
  font-family: 'Lato', sans-serif;
  
  li {
    display: flex;
    position: relative;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 1px;
    * {
      text-decoration: none;
      font-size: 18px;
      color: #f2f2f2;
      opacity: 1;
    }
   }
    
  li:hover {
    *{
    color: $color-orange-brown;
    }
   }
}

