@import url('https://fonts.googleapis.com/css?family=Lato');


//Colors:

$color-darker-blue: #2C3B59;
$color-lighter-tan: #BFA694;
$color-darker-brown: #7F4707;
$color-lighter-blue: #415E8C;
$color-orange-brown: #D97B59;
$color-white-tan: #f8f1e9;
$color-white-smoke-bg: #f9f9f7;

#contact {
  height: auto;
  background: $color-white-smoke-bg;
  font-family: 'Lato', sans-serif;
}