@import url("https://fonts.googleapis.com/css?family=Cardo");
@import url("https://fonts.googleapis.com/css?family=Exo+2");
@import url("https://fonts.googleapis.com/css?family=Arvo:700");

@import url("https://use.typekit.net/zvz3aox.css");

//Colors:

$color-darker-blue: #24305e;
$color-lighter-tan: #bfa694;
$color-darker-brown: #7f4707;
$color-lighter-blue: #374785;
$color-orange-brown: #d97b59;
$color-white-tan: #f8f1e9;
$color-white-smoke-bg: #f9f9f7;
$color-mustard-yellow: #f8e9a1;
$color-orange-red: #f76c6c;
$color-baby-blue: #a8d0e6;
$color-bg-grey: #f6f5f3;
$color-font-grey: #3d3d3f;

//<----------breakpoint mixins---------->
$tablet-width: 768px;
$laptop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}
//<-------------------->

// #page-wrap {
//   text-align: center;
//   overflow: auto;
// }

#home {
  height: 100%;
}
// <--------------------Default Mobile View-------------------------->
.home-container {
  width: 100%;
  height: 100vh;
  background: url(../../../dist/images/main_bg_200.jpg) no-repeat center center;
  background-size: cover;

  //media queries
  @include tablet {
    background: url(../../../dist/images/main_bg_300.jpg) no-repeat center
      center;
    background-size: cover;
  }

  @include laptop {
    background: url(../../../dist/images/main_bg_400.jpg) no-repeat center
      center;
    background-size: cover;
  }
}

// Heading / Text
.text-box {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: auto;
}

.text-box::after {
  content: "";
  clear: both;
  display: table;
}

.home-h1 {
  color: #3d3d3f;
  display: block;
  font-size: 4em;
  font-family: "Arvo", serif;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  top: -1.5em;

  //media queries

  @include tablet {
    font-size: 6em;
    text-align: right;
  }

  @include laptop {
    font-size: 8em;
    text-align: right;
  }

  //animation
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: east-out;
}

.home-h2 {
  display: block;
  color: $color-orange-red;
  mix-blend-mode: difference;
  font-size: 2em;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 0.09em;
  line-height: 1em;
  text-transform: uppercase;
  animation: moveInRight 1.5s ease-out;
  text-align: left;
  position: relative;
  top: -2em;

  //media queries

  @include tablet {
    font-size: 2.5em;
    text-align: right;
  }

  @include laptop {
    font-size: 3.5em;
    text-align: right;
  }
}

// Text Animation

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

//Buttons

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fab {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fab {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.social-btns .btn.linkedin:before {
  background-color: #0077b5;
}
.social-btns .btn.linkedin .fab {
  color: #0077b5;
}

.social-btns .btn.github:before {
  background-color: #6e5494;
}
.social-btns .btn.github .fab {
  color: #6e5494;
}

.social-btns .btn.resume:before {
  background-color: #ff0000;
}
.social-btns .btn.resume .fab {
  color: #ff0000;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fab,
.social-btns .btn:hover .fab {
  color: #f9f8fd;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.social-btns {
  height: 60px;
  margin: auto;
  font-size: 0;
  text-align: center;
  position: relative;
  top: 150px;

  //media queries

  @include tablet {
    top: 110px;
  }

  @include laptop {
    top: 200px;
  }
}
.social-btns .btn {
  display: inline-block;
  background-color: #f9f8fd;
  width: 62px;
  height: 62px;
  line-height: 62px;
  margin: 0 8px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;

  //media queries

  @include tablet {
    width: 85px;
    height: 85px;
    line-height: 85px;
    margin: 0 10px;
  }

  @include laptop {
    width: 120px;
    height: 120px;
    line-height: 120px;
    margin: 0 15px;
  }
}
.social-btns .btn:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.social-btns .btn .fab {
  font-size: 38px;
  vertical-align: middle;
}

// .home-container {
//   width: 100%;
//   height: 100vh;
//   background: url(../../../dist/images/ps_ws_bg_phone.jpg) no-repeat center
//     center;
//   background-size: cover;
// }

// .text-box {
//   position: absolute;
//   top: 45%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 75%;
// }

// .home-h2 {
//   display: block;
//   color: $color-lighter-blue;
//   mix-blend-mode: difference;
//   font-size: 50px;
//   font-family: "Exo 2", sans-serif;
//   font-weight: 650;
//   letter-spacing: 5.5px;
//   line-height: 1.5em;
//   text-transform: uppercase;
//   animation: moveInRight 1.5s ease-out;
//   text-align: left;
//   margin-top: 2.5rem;
// }

// .home-h1 {
//   color: white;
//   display: block;
//   font-size: 110px;
//   font-family: "Cardo", serif;
//   font-weight: 650;
//   letter-spacing: 17.5px;
//   line-height: 1em;
//   // text-transform: uppercase;
//   text-align: left;

//   animation-name: moveInLeft;
//   animation-duration: 1.5s;
//   animation-timing-function: east-out;
// }

// @keyframes moveInLeft {
//   0% {
//     opacity: 0;
//     transform: translateX(-100px);
//   }

//   80% {
//     transform: translateX(10px);
//   }

//   100% {
//     opacity: 1;
//     transform: translate(0);
//   }
// }

// @keyframes moveInRight {
//   0% {
//     opacity: 0;
//     transform: translateX(100px);
//   }

//   80% {
//     transform: translateX(-10px);
//   }

//   100% {
//     opacity: 1;
//     transform: translate(0);
//   }
// }
