/*Colors:

Darker Blue: #2C3B59 
Lighter Tan: #BFA694 
Darker Brown: #7F4707 
Lighter Blue: #415E8C 
Orange Brown: #D97B59
*/

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800');

@import url("https://use.typekit.net/zvz3aox.css");


#home {
  height: 100%;
  background: url(../../../dist/images/home_bg_image.jpg)
    no-repeat center center;
  background-size: cover;
  // overflow: hidden;
  // background-attachment: fixed;
}


.home-container{
  width: 100%;
    height: 100vh;
    // clip-path: inset(200px 0 350px 0);
    background-color: RGBA(0, 0, 0, 0.5);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    display: block;
}

.text-box {

  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  text-align: center;

}

.home-h2{

  display: block;
  color:#d97b59;
  mix-blend-mode: difference; 
  font-size: 35px;
  font-family: adobe-garamond-pro, serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 15.5px;
  line-height: 1.5em;
  text-transform: none;
  animation: moveInRight 1.5s ease-out;

}

.home-h1{

  color: white;
  display: block;
  font-size: 80px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
  letter-spacing: 17.5px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;

  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: east-out;
  // animation-delay: 3s;
  
  

}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
